In [ ]:
import pandas as pd
import numpy as np

##Загрузка датасетов##

In [ ]:
spark_path = r'/content/drive/MyDrive/ЭкоТомск/practice3/spark.csv'
spark = pd.read_csv(spark_path, index_col=0)

In [ ]:
efrsb_path = r'/content/drive/MyDrive/ЭкоТомск/practice3/efrsb.csv'
efrsb = pd.read_csv(efrsb_path, index_col=0, encoding="utf-16")

##Объединение данных##

In [ ]:
def merge_data(spark, efrsb):

  efrsb["Дата банкротства"]= efrsb["Дата банкротства"].astype("datetime64") #Изменение типа данных Даты банкротства
  data = spark.merge(efrsb, on=["Регистрационный номер", "Код налогоплательщика"], how='left') # Объединение информации

  #data.to_csv("/content/drive/MyDrive/ЭкоТомск/duplicate_data/duplicate_data.csv") # Сохранение данных о компаниях с несколькими датами банкротства

  data.drop_duplicates(subset=["Наименование", "Регистрационный номер", "Год"], keep = 'last', inplace = True)

  return data

In [ ]:
data = merge_data(spark, efrsb)

In [ ]:
data.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2846300 entries, 0 to 3104783
Data columns (total 40 columns):
 #   Column                                             Non-Null Count    Dtype
---  ------                                             --------------    -----
 0   Наименование                                       2846300 non-null  object
 1   Регистрационный номер                              2846300 non-null  float64
 2   Код налогоплательщика                              2846300 non-null  float64
 3   Вид деятельности/отрасль                           2846300 non-null  object
 4   Код основного вида деятельности                    2846300 non-null  object
 5   Организационно-правовая форма                      2846300 non-null  object
 6   Форма собственности                                2846300 non-null  object
 7   Размер компании                                    2846258 non-null  object
 8   Важная информация                                  337634 non-null   object
 9   Год                                                2846300 non-null  int64
 10  Основные средства , RUB                            1196099 non-null  float64
 11  Внеоборотные активы, RUB                           1301418 non-null  float64
 12  Запасы, RUB                                        1881476 non-null  float64
 13  Дебиторская задолженность, RUB                     2460721 non-null  float64
 14  Краткосрочные финансовые вложения, RUB             242635 non-null   float64
 15  Денежные средства и денежные эквиваленты, RUB      2530127 non-null  float64
 16  Оборотные активы, RUB                              2715856 non-null  float64
 17  Активы  всего, RUB                                 2727109 non-null  float64
 18  Нераспределенная прибыль (непокрытый убыток), RUB  1116254 non-null  float64
 19  Капитал и резервы, RUB                             2714135 non-null  float64
 20  Заёмные средства (долгосрочные), RUB               643865 non-null   float64
 21  Долгосрочные обязательства, RUB                    798852 non-null   float64
 22  Заёмные средства (краткосрочные), RUB              934555 non-null   float64
 23  Кредиторская задолженность, RUB                    2525816 non-null  float64
 24  Доходы будущих периодов , RUB                      34855 non-null    float64
 25  Краткосрочные обязательства, RUB                   2574163 non-null  float64
 26  Выручка, RUB                                       2667643 non-null  float64
 27  Себестоимость продаж, RUB                          2498030 non-null  float64
 28  Валовая прибыль (убыток), RUB                      1141811 non-null  float64
 29  Коммерческие расходы, RUB                          433119 non-null   float64
 30  Управленческие расходы, RUB                        567236 non-null   float64
 31  Прибыль (убыток) от продажи, RUB                   2665085 non-null  float64
 32  Проценты к получению, RUB                          175665 non-null   float64
 33  Проценты к уплате, RUB                             335381 non-null   float64
 34  Прочие доходы, RUB                                 1215384 non-null  float64
 35  Прочие расходы, RUB                                2357413 non-null  float64
 36  Прибыль (убыток) до налогообложения , RUB          2615447 non-null  float64
 37  Текущий налог на прибыль, RUB                      1888376 non-null  float64
 38  Чистая прибыль (убыток), RUB                       2644839 non-null  float64
 39  Банкротство                                        2846300 non-null  int64
dtypes: float64(31), int64(2), object(7)
memory usage: 954.8+ MB

##Добавление в датасет целевого столбца##

In [ ]:
years = pd.DatetimeIndex(data["Дата банкротства"].to_numpy()).year
years = years - data["Год"]
years = pd.Series(data=years)
years.fillna(0, inplace = True)
years = years.astype("int64")

In [ ]:
a = years[~np.isnan(years)]
print(a)

0          0
1          0
2          0
3          0
4          0
          ..
3104779    0
3104780    0
3104781    0
3104782    0
3104783    0
Length: 2846300, dtype: int64

In [ ]:
data["Банкротство"] = years

In [ ]:
data = data.drop("Дата банкротства", axis=1)

In [ ]:
data.to_csv("/content/drive/MyDrive/ЭкоТомск/practice3/bankruptcy_data.csv")

##Просмотр информации о компаниях -банкротах##

In [ ]:
dates = data.loc[data["Дата банкротства"].notnull(), ["Наименование", "Регистрационный номер", "Код налогоплательщика", "Год", "Дата банкротства", "Банкротство"]]

In [ ]:
dates.tail(20)

,Наименование,Регистрационный номер,Код налогоплательщика,Год,Дата банкротства,Банкротство
3102902,"СО КВАДРАТ, ООО",1.067310e+12,7.310102e+09,2020,2022-03-31,2
3103157,"СТРОИТЕЛЬ, ООО",1.126679e+12,6.679017e+09,2020,2022-05-04,2
3103218,"СТРОЙМОНТАЖ, ООО",1.140280e+12,2.730958e+08,2020,2022-03-23,2
3103251,"СТРОЙЭКСПЕРТ, ООО",1.160280e+12,2.590135e+08,2020,2022-04-22,2
3103337,"ТАТНЕФТЬ-НК-ОЙЛ, ООО",1.021603e+12,1.651027e+09,2020,2022-05-05,2
3103459,"ТЕХНОСТРОЙ, ООО",1.040101e+12,1.050433e+08,2020,2022-05-13,2
3103619,"ТРАНСРЕСУРС, ООО",1.142901e+12,2.901247e+09,2020,2022-05-04,2
3103730,"УГЗ, ООО",1.057425e+12,7.453148e+09,2020,2022-05-25,2
3103787,"УМ-1, ООО",1.023501e+12,3.525100e+09,2020,2022-05-19,2
3103817,"УПРАВЛЯЮЩАЯ КОМПАНИЯ №3, ООО",1.084313e+12,4.313007e+09,2020,2022-04-26,2
3103842,"УРАЛ МОТОРС ПРЕМИУМ, ООО",1.085905e+12,5.905264e+09,2020,2022-05-19,2
3103935,"ФАКТОР УСПЕХА, ООО",1.156320e+12,6.321374e+09,2020,2022-05-27,2
3104086,"ХАКАССКИЙ ТЭК, ООО",1.021901e+12,1.903014e+09,2020,2022-05-04,2
3104163,"ЦАУ, ЗАО",1.035606e+12,5.610076e+09,2020,2022-05-13,2
3104273,"ЧЭПК, ООО",1.087449e+12,7.449082e+09,2020,2022-05-18,2
3104403,"ЭКОСТРОЙ, ООО",1.081690e+12,1.660116e+09,2020,2022-05-13,2
3104498,"ЭЛИТ СЕРВИС, ООО",1.124313e+12,4.324008e+09,2020,2022-05-27,2
3104509,"ЭЛИТ-СТРОЙ, ООО",1.137747e+12,7.704842e+09,2020,2022-05-16,2
3104615,"ЭРТЕЛЬ, ООО ФИРМА",1.032129e+12,2.129051e+09,2020,2022-05-27,2
3104711,"ЮПП БРОННИЦКАЯ МАНУФАКТУРА, ООО",1.025005e+12,5.002003e+09,2020,2022-04-29,2